{% extends 'myApp/layout.html' %}
{% load static %}

{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}

<div id="map" style="width:100%;height:350px;"></div>

{% endblock content%}


{% block script %}

<script>
    let with_artists = {
        {
            with_artists_json | safe
        }
    };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>
<script type="text/javascript" src="{% static 'js/with_artist/with_artist_map.js' %}"></script>

{% endblock script%}