/* 무한스크롤 */

.loading,
.loading:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.loading {
  display: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(160, 160, 160, 0.2);
  border-right: 0.3em solid rgba(160, 160, 160, 0.2);
  border-bottom: 0.3em solid rgba(160, 160, 160, 0.2);
  border-left: 0em solid rgba(80, 80, 80, 0.2);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}

.loading.show {
  opacity: 1;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Contact List CSS */
a {
  text-decoration: none;
  color: black;
}

.contact_list {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.contactlist_left {
  margin-left: 30px;
  margin-top: 40px;
}

.contactlist_left li {
  padding-bottom: 25px;
  border-right: #ccc 1px solid;
}

.contactlist_right {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.contactlist_right > .bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.bar .search {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  width: 40%;
  padding: 0;
}

.bar .search .search_input {
  border: 0;
  padding: 5px;
  font-size: 1em;
  border: solid 1px black;
  width: 60%;
  height: 50%;
  border-radius: 3px;
  margin-right: 10px;
}

.bar .search button {
  padding: 6px;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.bar .sort {
  margin-right: 15px;
}

.bar .sort select {
  border: 0;
  padding: 5px;
  border: solid 1px black;
  width: 90%;
  border-radius: 3px;
}

.bar .contact_create i {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(75, 75, 75);
}

.infinite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.infinite-item {
  height: 400px;
  width: 300px;
  border: rgb(117, 117, 117) 1px solid;
  margin-right: 20px;
  padding: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr 35px;
}

.infinite-item .item_top {
  display: grid;
  grid-template-rows: 30px 30px 250px 30px;
  padding-bottom: 10px;
}

.item_top img {
  /* display: flex;
  justify-content: center; */
  width: 80%;
  align-content: center;
}

.item_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: #ccc 1px solid;
}

/* hover */

.infinite-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: scale(1.1);
}

.infinite-item:hover .caption-content i {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
}

.caption-content i {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.infinite-item:hover .caption {
  opacity: 0.85;
}

.infinite-item:hover .caption i {
  opacity: 1;
  color: white;
  padding-left: 8px;
}

.caption-content {
  color: white;
}
