* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Noto Serif", serif;
}

.choose a,
.profile_button a {
  color: black;
}

.container {
  display: grid;
  grid-template-rows: 80px 1fr 1fr 100px;
  margin: 20px 30px;
}

.choose {
  display: flex;
  margin: auto 1px;
  padding: 2px;
}

.choose_profile {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.choose_portfolio {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.profile_container {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding-left: 1px;
}

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.profile_username,
.profile_email,
.profile_category {
  display: grid;
  grid-template-columns: 110px 1fr;
  margin-right: 20px;
  padding: 10px;
}

.profile_info {
  margin-right: 5%;
  color: #878787;
}

.profile_saved {
  margin-top: 50px;
}

.profile_button {
  display: flex;
  justify-content: flex-end;
  margin: auto 1px;
  padding: 2px;
}

.edit_btn {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.delete_btn {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
