{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHOING</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block stylesheet %}{% endblock %}

    <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">


    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <style>
        * {
            font-family: 'NanumSquare', sans-serif;
        }
    </style>-->

    


</head>

<body>


    <!-- <div id="loading">
        <svg viewbox="0 0 100 20">
            <defs>
                <linearGradient id="gradient">
                <stop color="#000"/>
                </linearGradient>
                <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
                <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
                    <animateTransform
                        attributeName="transform"
                        begin="0s"
                        dur="1.5s"
                        type="translate"
                        from="0,0"
                        to="40,0"
                        repeatCount="indefinite" />
                </path>
                </pattern>
            </defs>
            <text text-anchor="middle" x="50" y="15" font-size="14" fill="white" fill-opacity="0.1">LOADING</text>
            <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#wave)"  fill-opacity="1">LOADING</text>
            </svg>  
    </div> -->


    <head>
        <nav id="nav">
            <div class="nav__logo">
                <a href="{% url 'myApp:main_list' %}"><i class="fas fa-camera"></i> PHOING</a>
            </div>
            <ul class="nav__menu">
                <li><a href="{% url 'myApp:contact_list' %}">Contact</a></li>
                <li><a href="{% url 'myApp:portfolio_list' %}">Portfolio</a></li>
                <li><a href="{% url 'place:place_list' %}">Place</a></li>
                <li><a href="{% url 'myApp:reference_list' %}">Reference</a></li>
                <li><a href="{% url 'myApp:with_brand_list' %}">Collaboration</a></li>
                <h1>{{ request.user.username }}</h1>
            </ul>
            <ul class="nav__profile">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'account_login' %}?next={{ request.path }}">Log In/Sign Up</a></li>
                <li><a href="{% url 'account_login' %}">My profile&nbsp;<i class="far fa-user-circle"></i></a></li>
                {% else %}
                {% url 'myApp:profile_detail' user.id as profile_path %}
               
                {% if request.path ==  profile_path %}
                <li><a href="{% url 'chat:chat_home' request.user.pk %}">Messages</a></li>
                <li><a href="{% url 'account_logout' %}" onclick="return confirm('Are you sure?');">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'chat:chat_home' request.user.pk %}">Messages</a></li>
                <li><a href="{% url 'account_logout' %}?next={{ request.path }}"
                        onclick="return confirm('Are you sure?');">Log
                        Out</a></li>
                {% endif %}

                
                <li><a href="{% url 'myApp:profile_detail' user.id %}">My profile&nbsp;<i
                            class="far fa-user-circle"></i></a></li>
                {% endif %}

            </ul>
            <a href="#" class="nav__toggleBtn"><i class="fas fa-bars"></i></a>
        </nav>
    </head>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
    <footer id="footer">
        <div>
            <ul class="footer__left">
                <li class="footer__logo">PHOING</li>
                <li>Copyright PHOING All right reserved</li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
            <ul class="footer__right">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-youtube-square"></i></li>
            </ul>
        </div>
    </footer>
    {% block script %}
    {% endblock script%}
</body>

</html>