{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="{% static 'css/login_layout.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% load socialaccount %}

{% block content %}


<div class="container">
    

    <div class="omb_login">
    	<h3 class="omb_authTitle">Login or <a href="{% url 'myApp:profile_create' %}">Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="{% provider_login_url 'naver' %}" class="btn btn-lg btn-block omb_btn-naver">
			        <i class="fa fa-naver visible-xs"></i>
			        <span class="hidden-xs">Naver</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-lg btn-block omb_btn-kakao">
			        <i class="fa fa-kakao visible-xs"></i>
			        <span class="hidden-xs">Kakao</span>
		        </a>
	        </div>	
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
        </div>
        
        {% block login_local %}
          
        {% endblock login_local %}
	    	
	</div>



        </div>
{% endblock content%}