* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Noto Serif", serif;
  /* font-family: "Raleway", sans-serif; */
}

nav a {
  color: black;
}

.content {
  display: block;
  margin: 0 auto;
}

head {
  position: sticky;
  top: 0;
}

#nav {
  display: flex;
  justify-content: initial;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 15px 15px;
}

.nav__logo {
  color: white;
  font-size: 24px;
}

.nav__menu {
  display: flex;
  padding-left: 20px;
}

.nav__menu li {
  padding: 8px 20px;
}

.nav__menu li a:hover {
  color: purple;
  cursor: pointer;
}

.nav__profile {
  position: absolute;
  right: 10px;
}

.nav__profile i {
  font-size: 20px;
}

.nav__profile a:hover i {
  color: purple;
  cursor: pointer;
}

.nav__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

@media screen and (max-width: 820px) {
  #nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav__menu li {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .nav__profile {
    display: none;
  }

  .nav__toggleBtn {
    display: block;
  }

  .nav__menu.active {
    display: flex;
  }

  .nav__profile.active {
    display: block;
    right: 70px;
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding: 15px 30px;
  /*margin-top: 410px;*/
  font-size: 13px;
}

footer li,
footer a {
  color: black;
}

.footer__logo {
  font-size: 15px;
  padding-bottom: 8px;
}

.footer__right {
  display: flex;
  cursor: pointer;
}

.footer__right li {
  padding: 8px 10px;
}

.footer__right i {
  font-size: 30px;
}

.footer__right li:hover,
.footer__right a:hover {
  color: purple;
}