* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Courier New", serif;
}

.container {
  background-color: black;
  padding-bottom: 410px;
  opacity: 98%;
  border-radius: 5px;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  color: white;
}

.profile_delete {
  padding-top: 300px;
  text-align: center;
}

.profile_delete p {
  padding-bottom: 20px;
}

.profile_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_btn {
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  background-color: black;
}
.delete_btn:hover {
  border: 2px solid rgb(158, 45, 45);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(158, 45, 45);
  padding: 10px;
}
