{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        font-family: "NanumSquare", sans-serif;
    }

    /**/
    * {
        box-sizing: border-box;
    }


    .btn {
        width: 150px;
        height: 50px;
        border: 1px solid #333;
        font-family: "Cinzel", serif;
        font-size: 15px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
    }

    .btn::before,
    .btn::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
    }

    .btn::before {
        height: 50px;
        width: 130px;
    }

    .btn::after {
        width: 150px;
        height: 30px;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn:hover::before {
        width: 0px;
        background: #fff;
    }

    .btn:hover::after {
        height: 0px;
        background: #fff;
    }

    .btn:hover {
        background: #fff;
    }


    .choose a,
    .profile_button a {
        color: black;
    }

    .container {
        display: grid;
        grid-template-rows: 80px 1fr 1fr 100px;
        margin: 20px 30px;
    }

    .choose {
        display: flex;
        margin: auto 1px;
        padding: 2px;
        margin-top: 3%;
        justify-content: center;
    }

    .choose_profile {
        padding: 5px;
        margin-right: 2%;
    }

    .choose_portfolio {
        padding: 5px;
    }

    .profile_container {
        display: grid;
        grid-template-columns: 200px 1fr;
        padding-left: 1px;
        margin-top: 8%;
    }

    .profile_image {
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }

    .profile_username,
    .profile_email,
    .profile_category,
    .profile_desc {
        display: grid;
        grid-template-columns: 110px 1fr;
        margin-right: 20px;
        padding: 10px;
    }

    .profile_info {
        margin-right: 5%;
        color: #878787;
    }

    .profile_saved {
        margin-top: 50px;
    }

    .profile_button {
        display: flex;
        justify-content: flex-end;
        margin: auto 1px;
        padding: 2px;
    }

    .edit_btn {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }

    .delete_btn {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }
</style>
{% endblock stylesheet %}

{% block content %}


<div class="container">
    <div class="choose">
        {% if request.user.pk == user.pk %}
        <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}"><div class="btn"><span class="noselect">My Profile</span></div></a>
        <a class="choose_portfolio" href="{% url 'myApp:profile_detail_posts' user.pk %}"><div class="btn"><span class="noselect">My Posts</span></div></a>
        <a class="choose_save" href="{% url 'myApp:profile_detail_saves' user.pk %}"><div class="btn"><span class="noselect">My Saves</span></div></a>
        {% else %}
        <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}"><div class="btn"><span class="noselect">My Profile</span></div></a>
        <a class="choose_portfolio" href="{% url 'myApp:profile_detail_posts' user.pk %}"><div class="btn"><span class="noselect">My Posts</span></div></a>
        {% endif %}
    </div>
    <div class="profile_container">
        <div>

            {% if user.image  %}
            <img class="profile_image" src="{{user.image.url}}" alt="profile_image" width="20%">
            {% else %}
            <img class="profile_image"
                src="https://cdn.iconscout.com/icon/free/png-512/account-profile-avatar-man-circle-round-user-30452.png"
                alt="profile_image" width="20%">
            {% endif %}


        </div>

        
        <div class="profile_info_container">
            <ul>
                <li>
                    <div class="profile_username">
                        <div class="profile_info">username</div>
                        <div class="profile_info_username">{{user.username}}</div>
                    </div>
                </li>
                <li>
                    <div class="profile_email">
                        <div class="profile_info">email</div>
                        {% if not user.email %}
                        <!-- <div class="profile_info_email">이메일 정보가 없습니다.</div> -->
                        {% else %}
                        <div class="profile_info_email">{{user.email}}</div>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="profile_category">
                        <div class="profile_info">category</div>
                        <div class="profile_info_category">{{user.category}}</div>
                    </div>
                </li>
                <li>
                    <div class="profile_desc">
                        <div class="profile_info">프로필 소개</div>
                        <div class="profile_info_desc">{{user.desc}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% if request_user.username == user.username %}
    <div class="profile_button">
        <a class="edit_btn" href="{% url 'myApp:profile_update' user.pk %}">프로필 수정</a>
        <a class="edit_btn" href="{% url 'myApp:profile_update_password' user.pk %}">비밀번호 변경</a>
        <a class="delete_btn" href="{% url 'myApp:profile_delete' user.pk %}">탈퇴</a>
    </div>
    {% endif %}

</div>
{% endblock content%}