{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile_detail2.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="choose">
        <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}">Profile</a>
        <a class="choose_portfolio" href="{% url 'myApp:profile_portfolio' user.pk %}">Portfoilo</a>
    </div>
    <div class="profile_container">
        <div>
            <img class="profile_image" src="{{user.image.url}}" alt="profile_image" width="20%">
        </div>
        <div class="profile_container">
            <div>
                
                {% if user.image  %}
                <img class="profile_image" src="{{user.image.url}}" alt="profile_image" width="20%">    
                {% else %}
                <img class="profile_image" src="https://cdn.iconscout.com/icon/free/png-512/account-profile-avatar-man-circle-round-user-30452.png" alt="profile_image" width="20%">
                {% endif %}
                    
                
            </div>    
            <div class="profile_info_container">
                <ul>
                    <li>
                        <div class="profile_username">
                            <div class="profile_info">username</div>
                            <div class="profile_info_username">{{user.username}}</div>
                        </div>
                    </li>
                    <li>
                        <div class="profile_email">
                            <div class="profile_info">email</div>
                            {% if not user.email %}
                                <!-- <div class="profile_info_email">이메일 정보가 없습니다.</div> -->
                            {% else %}
                                <div class="profile_info_email">{{user.email}}</div>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="profile_category">
                            <div class="profile_info">category</div>
                            <div class="profile_info_category">{{user.category}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile_saved">
            저장목록
        </div>
        <!-- check edit url -->
        <div class="profile_button">
            <a class="edit_btn" href="{% url 'myApp:profile_update' user.pk %}">프로필 수정</a> 
            <a class="delete_btn" href="{% url 'myApp:profile_delete' user.pk %}">탈퇴</a>
        </div>
    </div>
    <!-- check edit url -->
    <div class="profile_button">
        <a class="edit_btn" href="#">회원정보 수정</a>
        <a class="delete_btn" href="{% url 'myApp:profile_delete' user.pk %}">탈퇴</a>
    </div>
</div>
{% endblock content%}