{% extends 'myApp/layout.html' %}
{% block stylesheet %}

<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }

    label {
        font-size: 1.1rem;
    }

    .clear {
        font-size: 1.2rem;
    }

    .form-group {
        margin: 20px 60px;
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    .image>label {
        font-size: 1rem;
    }


    .username input,
    .first_name input,
    .last_name input,
    .email input,
    .category input,
    .password1 input,
    .password2 input {
        border: 0;
        padding: 1px;
        font-size: 1.1em;
        border: solid 1px #ccc;
        margin-top: 4px;
        width: 80%;
        border-radius: 3px;
    }

    .username input:focus,
    .first_name input:focus,
    .last_name input:focus,
    .email input:focus,
    .category input:focus,
    .password1 input:focus,
    .password2 input:focus {
        outline: none !important;
        border-color: #000000;
        box-shadow: 0 0 10px #000000;
    }

    select {
        border: 0;
        padding: 1px;
        font-size: 1.0rem;
        border: solid 1px #ccc;
        margin-top: 5px;
        width: 50%;
        border-radius: 3px;
    }

    input.update_btn {
        position: absolute;
        left: 72%;

        background-color: rgb(224, 224, 224);
        border: none;
        border-radius: 8px;
        margin-top: 20px;
        padding: 8px 10px;
        margin-left: 60px;
    }

    input.update_btn:hover {
        cursor: pointer;
    }

    .image a,
    .image .form-id {
        margin-left: 2px;
    }
</style>
{% endblock stylesheet %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1 style="margin-top: 80px; margin-left: 60px; margin-bottom: 40px; font-size:30px;">Change Password
            </h1>
            <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="form-id" class="col-sm-2 {{field.name}} ">{{field.label}}</label>
                    <div class='col-sm-10 {{field.name}}'>
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help-block">{{ field.help_text }}</p>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" class="update_btn " value="수정하기" />
            </form>
        </div>
    </div>
</div>

{% endblock content%}