{% extends 'myApp/layout.html' %}
{% load static %}


{% block stylesheet %}
<!-- <link rel="stylesheet" href="{% static 'css/contact/contact.css' %}"> -->
<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        font-family: "NanumSquare", sans-serif;
    }

    /*category btn*/

    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: black;

    }


    /* Dropdown Button */
    .dropbtn {
        display: flex;
        margin: auto 1px;
        padding: 5px;
        justify-content: center;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-left: 2px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
        border: #ddd solid 1px;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }


    * {
        box-sizing: border-box;
    }


    .btn {
        width: 150px;
        height: 50px;
        border: 1px solid #333;
        font-family: "Cinzel", serif;
        font-size: 15px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
    }

    .btn::before,
    .btn::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
    }

    .btn::before {
        height: 50px;
        width: 130px;
    }

    .btn::after {
        width: 150px;
        height: 30px;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn:hover::before {
        width: 0px;
        background: #fff;
    }

    .btn:hover::after {
        height: 0px;
        background: #fff;
    }

    .btn:hover {
        background: #fff;
    }


    .choose a,
    .profile_button a {
        color: black;
    }

    .container {
    margin: 3% 4%;
    }

    .choose {
        display: flex;
        margin: auto 1px;
        padding: 2px;
        margin-top: 3%;
        justify-content: center;
    }

    .choose_profile {
        padding: 5px;
        margin-right: 2%;
    }


    .dropdown span{
        font-weight: bolder;
    }

    .bar{
        position:relative;
    }

    .post_create {
        position: absolute;
        top: 9;
        right: 10;
        font-size: 2em;
    } 


    .grid-item{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .item_top >div{
        padding:10px;
    }

    .contact_owner {
        display: flex;
        align-items: center;
        border-bottom: rgb(221, 221, 221) 1px solid;
        padding-top:10px;
        padding-bottom:10px;
    }

    .contact_owner div {
        margin-right: 8px;
    }

    .contact_owner .user_img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 10px;
    }

    .user_img .profile_image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }



    .thumbnail_desc img {
        width: 20rem;
    }

    .pay_date {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pay_date p{
        text-align: end;
        line-height: 1.5rem;
    }

    .item_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: rgb(221, 221, 221) solid 1px;
        border-bottom: rgb(180, 180, 180) solid 2px;
        padding:15px;
        
    }

    .item_bottom > div{
        cursor:pointer;
    }

    /*top button*/

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        font-size: 2em; /* Increase font size */
        border-radius: 100%;
        background-color: white;
      }
      
      #myBtn i:hover {
        color: rgb(58, 58, 58); /* Add a dark-grey background on hover */
      }
</style>
{% endblock stylesheet %}

{% block content %}

<div class="">
    <div class="bar">
        <div class="choose">
            <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}">
                <div class="btn"><span class="noselect">My Profile</span></div>
            </a>
            <!-- <a class="choose_portfolio" href="{% url 'myApp:profile_detail_posts' user.pk %}"><div class="btn"><span class="noselect">My Posts</span></div></a> -->
            <div class="dropdown">
                <div class="dropbtn">
                    <div class="btn"><span class="noselect"><a href="{% url 'myApp:profile_detail_posts' user.pk %}"
                                onclick="onClickLink('all')">My Posts</a></span></div>
                </div>
                <div class="dropdown-content">
                    <a href="javascript:void(0)" onclick="onClickLink('contact')">Contact</a>
                    <a href="javascript:void(0)" onclick="onClickLink('portfolio')">Portfolio</a>
                </div>
            </div>
        </div>
        <div class="post_create">
            <a class="update_btn" href="{% url 'myApp:post_create' %}"><i class="far fa-plus-square"></i></a>
        </div>
    </div>

    <div class="">
        <!--post_list-->
        <!---->
        <div class="grid">
            {% for post in posts %}
            <div class="grid-item">

                {% if post.classname == "Contact" %}
                {% if not post %}
                <div>Create a contact.</div>
                {% else %}
                <a href="{% url 'myApp:contact_detail' post.pk %}">
                    <div class="item_top">
                            <div>{{ post.title }}</div>
                            <div class="thumbnail_desc">
                                <a href="{% url 'myApp:contact_detail' contact.pk %}">
                                    <img src="{{ contact.thumbnail.url }}" alt="">
                                </a>
                            </div>
                            <div>{{post.created_at}}</div>
                    </div>
                    <div class="item_bottom">
                        <div class="save save-{{post.id}}">
                            {% if request_user in post.save_users.all %}
                            <i class="fas fa-bookmark"  type="submit"
                                onclick="onClickContactSave({{ post.pk }})" name="type" value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit"
                                onclick="onClickContactSave({{ post.pk }})" name="type" value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ post.save_users.count }}</span>
                        </div>
                    </div>
                </a>

                {% endif %}
                {% elif post.classname == "Portfolio" %}
                {% if not post %}
                <div>Create a portfolio.</div>
                {% else %}
                <a href="{% url 'myApp:contact_detail' post.pk %}">
                    <div class="item_top">
                            <div>{{ post.title }}</div>
                            <div class="thumbnail_desc">
                                <a href="{% url 'myApp:contact_detail' contact.pk %}">
                                    <img src="{{ contact.thumbnail.url }}" alt="">
                                </a>
                            </div>
                            <div>{{post.created_at}}</div>
                    </div>
                    <div class="item_bottom">
                        <div class="save save-{{post.id}}">
                            {% if request_user in post.save_users.all %}
                            <i class="fas fa-bookmark"  type="submit"
                                onclick="onClickContactSave({{ post.pk }})" name="type" value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit"
                                onclick="onClickContactSave({{ post.pk }})" name="type" value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ post.save_users.count }}</span>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></div>

        {% if posts.has_next %}
        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">
            <div class="loading" style="display: none;"></div>
        </a>
        {% endif %}
    </div>

    <!--filter form-->
    <div style="height: 0;">
        <form id="searchForm" method="get" action="{% url 'myApp:profile_detail_posts' user.pk %}">
            <!--category-->
            <input type="hidden" id="category" name="category" value="{{ category }}">
        </form>
    </div>
</div>
{% endblock content %}



<!--js-->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}" defer></script>

<script>

    //top_button
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    //
    let infinite = new Waypoint.Infinite({
        element: $('.grid')[0],
        items: '.grid-item',
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
            let msnry = new Masonry('.grid', {
                itemSelector: '.grid-item',
                gutter: 10,
            })
        }
    });
    let msnry = new Masonry('.grid', {
        // optionsW
        itemSelector: '.grid-item',
        gutter: 10,
        // columnWidth: 200
    });

    //Save
    const onClickContactSave = async (contact_id) => {
        try {
            console.log("here")
            // const url = '/contact/';
            // const {
            //     data
            // } = await axios.post(url, {
            //     contact_id,
            // })
            // modify(data.contact_id, data.is_saved)

            const options = {
                url: '/contact/save/',
                method: 'POST',
                data: {
                    contact_id: contact_id,
                }
            }
            const response = await axios(options)
            const responseOK = response && response.status === 200 && response.statusText === 'OK'
            if (responseOK) {
                const data = response.data
                //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                modifyContact(data.contact_id, data.is_saved)
            }
        } catch (error) {
            console.log(error)
        }
    }

    const modifyContact = (contact_id, is_saved) => {
        const save = document.querySelector(`.save-${contact_id} i`);
        const save_content = document.querySelector(`.save-${contact_id} .save__content`)
        const num = save_content.innerText; // [ {{ contact.save_users.count }} ]
        console.log(num)
        if (is_saved === true) {

            save.className = "fas fa-bookmark";

            const count = Number(num) + 1;
            save_content.innerHTML = count
        } else {
            save.className = "far fa-bookmark";

            const count = Number(num) - 1;
            save_content.innerHTML = count
        }

    }



    //Save
    const onClickPortfolioSave = async (portfolio_id) => {
        try {
            // const url = '/portfolio/';
            // const {
            //     data
            // } = await axios.post(url, {
            //     portfolio_id,
            // })
            // modify(data.portfolio_id, data.is_saved)

            const options = {
                url: '/portfolio/save/',
                method: 'POST',
                data: {
                    portfolio_id: portfolio_id,
                }
            }
            const response = await axios(options)
            const responseOK = response && response.status === 200 && response.statusText === 'OK'
            if (responseOK) {
                const data = response.data
                //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                modifyPortfolio(data.portfolio_id, data.is_saved)
            }
        } catch (error) {
            console.log(error)
        }
    }

    const modifyPortfolio = (portfolio_id, is_saved) => {
        const save = document.querySelector(`.save-${portfolio_id} i`);
        const save_content = document.querySelector(`.save-${portfolio_id} .save__content`)
        const num = save_content.innerText; // [ {{ portfolio.save_users.count }} ]
        console.log(num)
        if (is_saved === true) {
            console.log("here1")

            save.className = "fas fa-bookmark";

            const count = Number(num) + 1;
            save_content.innerHTML = count
        } else {
            console.log("here2")
            save.className = "far fa-bookmark";

            const count = Number(num) - 1;
            save_content.innerHTML = count
        }

    }




    //category
    const onClickLink = (category) => {
        const categoryIdInput = document.querySelector('#category')
        categoryIdInput.value = category
        const searchForm = document.querySelector('#searchForm')
        searchForm.submit()
    }

    //search
    const searchButton = document.querySelector('.btn_search')
    searchButton.addEventListener('click', () => {
        const searchClassInput = document.querySelector('.search')
        const searchIdInput = document.querySelector('#search')
        const searchForm = document.querySelector('#searchForm')
        searchIdInput.value = searchClassInput.value
        searchForm.submit()
    })


    //sort
    const sortClassInput = document.querySelector('.sort')
    sortClassInput.addEventListener('input', (e) => {
        const sortIdInput = document.querySelector('#sort')
        const searchForm = document.querySelector('#searchForm')
        sortIdInput.value = e.target.value
        searchForm.submit()
    })
</script>
{% endblock script %}