{% extends 'myApp/layout.html' %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/contact/contact.css' %}">
<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        font-family: "NanumSquare", sans-serif;
      }
      
      /**/
      * {
        box-sizing: border-box;
      }
      
    
      .btn {
        width: 150px;
        height: 50px;
        border: 1px solid #333;
        font-family: "Cinzel", serif;
        font-size: 15px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
       }
      
      .btn::before,
      .btn::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
      }
      
      .btn::before {
        height: 50px;
        width: 130px;
      }
      
      .btn::after {
        width: 150px;
        height: 30px;
      }
      
      .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      .btn:hover::before {
        width: 0px;
        background: #fff;
      }
      
      .btn:hover::after {
        height: 0px;
        background: #fff;
      }
      
      .btn:hover {
        background: #fff;
      }

        
    .choose a,
    .profile_button a {
    color: black;
    }

    .container {
    display: grid;
    grid-template-rows: 80px 1fr 1fr 100px;
    margin: 20px 30px;
    }

    .choose {
    display: flex;
    margin: auto 1px;
    padding: 2px;
    margin-top:3%;
    justify-content: center;
    }

    .choose_profile {
    padding: 5px;
    margin-right: 2%;
    }
    .choose_portfolio {
    padding: 5px;
    }

    .profile_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-left: 1px;
    margin-top:8%;
    }

    .profile_image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    }

    .profile_username,
    .profile_email,
    .profile_category,
    .profile_desc {
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-right: 20px;
    padding: 10px;
    }

    .profile_info {
    margin-right: 5%;
    color: #878787;
    }

    .profile_saved {
    margin-top: 50px;
    }

    .profile_button {
    display: flex;
    justify-content: flex-end;
    margin: auto 1px;
    padding: 2px;
    }

    .edit_btn {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    }
    .delete_btn {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    }

    /*category btn*/

    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: black;

    }

    .dropdown .btn {
        width: 150px;
        height: 50px;
        border: 1px solid #333;
        font-family: "Cinzel", serif;
        font-size: 15px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
    }

    .dropdown .btn::before,
    .dropdown .btn::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
    }

    .dropdown .btn::before {
        height: 50px;
        width: 130px;
    }

    .dropdown .btn::after {
        width: 150px;
        height: 30px;
    }

    .dropdown .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .dropdown .btn:hover::before {
        width: 0px;
        background: #fff;
    }

    .dropdown .btn:hover::after {
        height: 0px;
        background: #fff;
    }

    .dropdown .btn:hover {
        background: #fff;
    }

    /* Dropdown Button */
    .dropbtn {
        padding: 16px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-left: 11px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
        border: #ddd solid 1px;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }


</style>


{% endblock stylesheet %}


{% block content %}

<div class="choose">
    <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}"><div class="btn"><span class="noselect">My Profile</span></div></a>
    <a class="choose_portfolio" href="{% url 'myApp:profile_detail_posts' user.pk %}"><div class="btn"><span class="noselect">My Posts</span></div></a>

    <ul class="dropdown">
        <div class="dropbtn">
            <div class="btn"><span class="noselect"><a href="{% url 'myApp:profile_detail_saves' user.pk %}"
                        onclick="onClickLink('contact')">My Saves</a></span></div>
        </div>
        <div class="dropdown-content">
            <a href="javascript:void(0)" onclick="onClickLink('contact')">Contact</a>
            <a href="javascript:void(0)" onclick="onClickLink('portfolio')">Portfolio</a>
        </div>
    </ul>
</div>


<div class="user_postlist">
        <!--post_list-->
        <div class="content">
            <!---->
            <div class="infinite-container">
                {% for post in posts %}
                {% if request_user in post.save_users.all %}
                    {% if post.classname == "Contact" %}
                        {% if not post %}
                        <div>Create a contact.</div> 
                        {% else %}
                        <div class="infinite-item">
                            <div class="item_top">
                                <a href="{% url 'myApp:contact_detail' post.pk %}">
                                    <div>{{ post.title }}</div>
                                    <img src="{{ post.thumbnail.url }}" alt="">
                                    <div>{{post.created_at}}</div>
                                </a>
                                <div class="item_bottom">
                                    <div class="save save-{{post.id}}">
                                        {% if request_user in post.save_users.all %}
                                        <i class="fas fa-bookmark" style="color:red" type="submit" onclick="onClickContactSave({{ post.id }})" name="type"
                                            value="save"></i>
                                        {% else %}
                                        <i class="far fa-bookmark" style="color:red" type="submit" onclick="onClickContactSave({{ post.id }})" name="type"
                                            value="save"></i>
                                        {% endif %}
                                        <span class="save__content">{{ post.save_users.count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% elif post.classname == "Portfolio" %}
                        {% if not post %}
                        <div>Create a portfolio.</div> 
                        {% else %}
                        <div class="infinite-item">
                            <div class="item_top">
                                <a href="{% url 'myApp:portfolio_detail' post.pk %}">
                                    <div>{{ post.title }}</div>
                                    <img src="{{ post.thumbnail.url }}" alt="">
                                    <div>{{post.created_at}}</div>
                                </a>
                                <div class="item_bottom">
                                    <div class="save save-{{post.id}}">
                                        {% if request_user in post.save_users.all %}
                                        <i class="fas fa-bookmark" style="color:red" type="submit" onclick="onClickPortfolioSave({{ post.id }})" name="type"
                                            value="save"></i>
                                        {% else %}
                                        <i class="far fa-bookmark" style="color:red" type="submit" onclick="onClickPortfolioSave({{ post.id }})" name="type"
                                            value="save"></i>
                                        {% endif %}
                                        <span class="save__content">{{ post.save_users.count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>

            <!--filter form-->
            <div style="height: 0;">
                <form id="searchForm" method="get" action="{% url 'myApp:profile_detail_saves' user.pk %}">
                    <!--category-->
                    <input type="hidden" id="category" name="category" value="{{ category }}">

                </form>
            </div>
        </div>

    </div>
</div>
        {% endblock content %}



        <!--js-->
        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
        <script src="{% static 'js/contact.js' %}" defer></script>

        <script>
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                }
            });

            //Save
            const onClickContactSave = async (contact_id) => {
                try {
                    console.log("here")
                    // const url = '/contact/';
                    // const {
                    //     data
                    // } = await axios.post(url, {
                    //     contact_id,
                    // })
                    // modify(data.contact_id, data.is_saved)

                    const options = {
                        url: '/contact/save/',
                        method: 'POST',
                        data: {
                            contact_id: contact_id,
                        }
                    }
                    const response = await axios(options)
                    const responseOK = response && response.status === 200 && response.statusText === 'OK'
                    if (responseOK) {
                        const data = response.data
                        //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                        modifyContact(data.contact_id, data.is_saved)
                    }
                } catch (error) {
                    console.log(error)
                }
            }

            const modifyContact = (contact_id, is_saved) => {
                const save = document.querySelector(`.save-${contact_id} i`);
                const save_content = document.querySelector(`.save-${contact_id} .save__content`)
                const num = save_content.innerText; // [ {{ contact.save_users.count }} ]
                console.log(num)
                if (is_saved === true) {

                    save.className = "fas fa-bookmark";

                    const count = Number(num) + 1;
                    save_content.innerHTML = count
                } else {
                    save.className = "far fa-bookmark";

                    const count = Number(num) - 1;
                    save_content.innerHTML = count
                }

            }



            //Save
            const onClickPortfolioSave = async (portfolio_id) => {
                try {
                    // const url = '/portfolio/';
                    // const {
                    //     data
                    // } = await axios.post(url, {
                    //     portfolio_id,
                    // })
                    // modify(data.portfolio_id, data.is_saved)

                    const options = {
                        url: '/portfolio/save/',
                        method: 'POST',
                        data: {
                            portfolio_id: portfolio_id,
                        }
                    }
                    const response = await axios(options)
                    const responseOK = response && response.status === 200 && response.statusText === 'OK'
                    if (responseOK) {
                        const data = response.data
                        //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                        modifyPortfolio(data.portfolio_id, data.is_saved)
                    }
                } catch (error) {
                    console.log(error)
                }
            }

            const modifyPortfolio = (portfolio_id, is_saved) => {
                const save = document.querySelector(`.save-${portfolio_id} i`);
                const save_content = document.querySelector(`.save-${portfolio_id} .save__content`)
                const num = save_content.innerText; // [ {{ portfolio.save_users.count }} ]
                console.log(num)
                if (is_saved === true) {

                    save.className = "fas fa-bookmark";

                    const count = Number(num) + 1;
                    save_content.innerHTML = count
                } else {
                    save.className = "far fa-bookmark";

                    const count = Number(num) - 1;
                    save_content.innerHTML = count
                }

            }




            //category
            const onClickLink = (category) => {
                const categoryIdInput = document.querySelector('#category')
                categoryIdInput.value = category
                const searchForm = document.querySelector('#searchForm')
                searchForm.submit()
            }

            //search
            const searchButton = document.querySelector('.btn_search')
            searchButton.addEventListener('click', () => {
                const searchClassInput = document.querySelector('.search')
                const searchIdInput = document.querySelector('#search')
                const searchForm = document.querySelector('#searchForm')
                searchIdInput.value = searchClassInput.value
                searchForm.submit()
            })


            //sort
            const sortClassInput = document.querySelector('.sort')
            sortClassInput.addEventListener('input', (e) => {
                const sortIdInput = document.querySelector('#sort')
                const searchForm = document.querySelector('#searchForm')
                sortIdInput.value = e.target.value
                searchForm.submit()
            })
        </script>
        {% endblock script %}