{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile_portfolio.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="choose">
        <a class="choose_profile" href="{% url 'myApp:profile_detail' user.pk %}">Profile</a>
        <a class="choose_portfolio" href="{% url 'myApp:profile_portfolio' user.pk %}">Portfoilo</a>  
    </div>
    <div class="profile_container">
        {% if not portfolios %}
        <div class="portfolio_info">Create a portfolio.</div> 
        {% else %}
            {% for portfolio in portfolios %}
            <div>
                <img class="portfolio_image" src="{{portfolio.thumbnail.url}}" alt="portfolio_image" width="100%">
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>    


    
{% endblock content%}