{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/contact_delete.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="contact_delete">
        <h1>Contact delete</h1><br>
        <form action="{% url 'myApp:contact_delete' contact.pk %}" method="POST">
            {% csrf_token %}
            <p>정말로 삭제하시겠습니까?</p>
            <input class="delete_btn" type="submit" value="삭제" />
        </form>
    </div>
</div>
{% endblock content%}