{% extends 'myApp/layout.html' %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/contact/contact.css' %}">
{% endblock stylesheet %}


{% block content %}


<div class="contact_list">
    <!--category-->
    <div class="contactlist_left">
        <ul class="category">
            <li><a href="javascript:void(0)" onclick="onClickLink('all')">All</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('photographer')">Photographer</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('model')">Model</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('HairMakeup')">Hair/Makeup</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('stylist')">Stylist</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('otheruse')">Other Use</a></li>
        </ul>
    </div>

    <div class="contactlist_right">
        <div class="bar">

            <!--search-->
            <div class="search">
                <input type="text" class="search_input" value="{{ search|default_if_none:"" }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn_search" type="button" id="">찾기</button>
                </div>
            </div>

            <!--sort-->
            <div class="sort">
                <select name="" id="" class="form-control sort ">
                    <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                        최신순
                    </option>
                    <option value="save" {% if sort == 'save' %}selected{% endif %}>
                        저장순
                    </option>
                    <option value="pay" {% if sort == 'pay' %}selected{% endif %}>
                        가격순
                    </option>
                </select>
            </div>


            <!--contact_create-->
            <div class="contact_create">
            {% if request_user.is_authenticated %}
            <a class="update_btn" href="{% url 'myApp:contact_create' %}"><i class="far fa-plus-square"></i></a>
            {% endif %}
            </div>
        </div>


        <!--contact_list-->
        <div class="content">
            <!---->
            <div class="infinite-container">
                {% for contact in contacts %}
                <a href="{% url 'myApp:contact_detail' contact.pk %}">
                <div class="infinite-item">
                        <div class="item_top">
                            <div>
                                <!-- user_img -->
                                User : {{ contact.user }}
                            </div>
                            <div>{{ contact.title }}</div>
                            <div class="thumbnail_desc">
                                <img src="{{ contact.thumbnail.url }}" alt="">
                                <div class="desc">
                                    <!-- desc ... -->
                                </div>
                            </div>
                            <div class="pay_date">
                                Pay : {{ contact.pay }}원
                                <!-- 촬영날짜나 isclosed check되었으면 마감알림 -->
                            </div>
                        </div>

                        <div class="item_bottom">
                            <div class="comment">
                                <i class="far fa-comment-dots"></i>
                                <span class="comment__content">{{ contact.contact_comments.count }}</span>
                            </div>

                            <div class="save">
                                {% if request_user in contact.save_users.all %}
                                <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                                    value="save"></i>
                                {% else %}
                                <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                                    value="save"></i>
                                {% endif %}
                                <span class="save__content">{{ contact.save_users.count }}</span>
                            </div>
                        </div>
                    <div class="caption">
                        <div class="caption-content"><p>더 알아보기<i style="font-size: 1em;" class="fas fa-search"></i> </p></div>
                    </div>
                </div>
                </a>
                {% endfor %}
                
               
            </div>

            <!-- 무한로딩 보류 -->
            {% if contacts.has_next %}
            <a class="infinite-more-link" href="?page={{ contacts.next_page_number }}">
                <div class="loading" style="display: none;">Loading...</div>
            </a>
            {% endif %}

            
            <!--filter form-->
            <div style="height: 0;">
                <form id="searchForm" method="get" action="{% url 'myApp:contact_list' %}">
                    <!--category-->
                    <input type="hidden" id="category" name="category" value="{{ category }}">
                    <!--sort-->
                    <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
                    <!--search-->
                    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                </form>
            </div>
        </div>

    </div>
    
<div>
{% endblock content %}



<!--js-->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}" defer></script>
{% endblock script %}