{% extends 'myApp/layout.html' %}
{% load static %}

{% block content %}


<div>
    <!--category-->
    <div>
        <ul class="category">
            <li><a href="javascript:void(0)" onclick="onClickLink('all')">All</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('photographer')">Photographer</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('model')">Model</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('HairMakeup')">Hair/Makeup</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('stylist')">Stylist</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('otheruse')">Other Use</a></li>
        </ul>
    </div>


    <!--sort-->
    <div>
        <select name="" id="" class="form-control sort ">
            <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                최신순
            </option>
            <option value="save" {% if sort == 'save' %}selected{% endif %}>
                저장순
            </option>
            <option value="pay" {% if sort == 'pay' %}selected{% endif %}>
                가격순
            </option>
        </select>
    </div>

    <!--search-->
    <div class="col-4 input-group">
        <input type="text" class="form-control search" value="{{ search|default_if_none:"" }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn_search" type="button" id="">찾기</button>
        </div>
    </div>
</div>


<!--contact_list-->
{% for contact in contacts %}
<p>User : {{ contact.user }}</p>
<button type="submit" onclick="onClickBtn({{ contact.id }}, {{request.user}}, 'save')" name="type" value="like"
    class="btn btn-primary">
    Saves : {{ contact.save_users.count }}
</button>
<p>Pay : {{ contact.pay }}</p>


<a href="{% url 'myApp:contact_detail' contact.pk %}">
    <p>{{ contact.title }}</p>
</a>

<!--save-->
<button type="submit" onclick="onClickBtn({{ contact.id }}, 'save')" name="type" value="save"
    class="btn btn-primary">saves {{ contact.save }}</button>


{% endfor %}

<!--contact_create-->

{% if request_user.authenticated %}
<a class="update_btn" href="{% url 'myApp:contact_create' %}">contact 만들기</a>
{% endif %}


<!--filter form-->
<form id="searchForm" method="get" action="{% url 'myApp:contact_list' %}">
    <!--category-->
    <input type="hidden" id="category" name="category" value="{{ category }}">
    <!--sort-->
    <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
    <!--search-->
    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
</form>
{% endblock content %}


<!--js-->
{% block script %}
<script type='text/javascript'>
    //category
    const onClickLink = (category) => {
        const categoryIdInput = document.querySelector('#category')
        categoryIdInput.value = category
        const searchForm = document.querySelector('#searchForm')
        searchForm.submit()
    }

    //search
    const searchButton = document.querySelector('.btn_search')
    searchButton.addEventListener('click', () => {
        const searchClassInput = document.querySelector('.search')
        const searchIdInput = document.querySelector('#search')
        const searchForm = document.querySelector('#searchForm')
        searchIdInput.value = searchClassInput.value
        searchForm.submit()
    })


    //sort
    const sortClassInput = document.querySelector('.sort')
    sortClassInput.addEventListener('input', (e) => {
        const sortIdInput = document.querySelector('#sort')
        const searchForm = document.querySelector('#searchForm')
        sortIdInput.value = e.target.value
        searchForm.submit()
    })
</script>
{% endblock script %}