{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/portfolio_detail.css' %}">
<script src="https://kit.fontawesome.com/9ada8679dc.js" crossorigin="anonymous"></script>
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div class="portfolio_container">  
            <div class="portfolio_info_container">
                <div class="portfolio_owner">
                    <a href="{% url 'myApp:profile_detail_other' owner.pk %}">
                        <div class="portfolio_owner">{{owner.username}}</div>
                        <button type="button">Show Profile</button>
                    </a>
                    <div class="portfolio_owner">{{owner.category}}</div>
                </div>
                <div class="portfolio_detail">
                    <div class="portfolio_content">{{port.title}}</div>
                    <div>
                        <img class="portfolio_content" src="{{port.thumbnail.url}}" alt="prot_image" width="20%">
                    </div>    
                    <div class="portfolio_content">{{port.desc}}</div>
                    <div class="portfolio_content">{{port.created_at}}</div>
                    <div class="portfolio_content">{{port.updated_at}}</div>
                    <div class="portfolio_like_user">
                        <div class="portfolio_content">{{port.like_user}}</div>
                    </div>
                    <div class="portfolio_view_count">
                        <div class="portfolio_content">{{port.view_count}}</div>
                    </div>
                    <div class="portfolio_like_user">
                        <div class="portfolio_content">{{port.save}}</div>
                    </div>
                    {% if login_user.username == owner.username %}
                    <div class="protfolio_button">
                        <a class="edit_btn" href="{% url 'myApp:portfolio_update' port.pk %}">수정</a> 
                        <a class="delete_btn" href="{% url 'myApp:portfolio_delete' port.pk %}">삭제</a>
                    </div>
                    {% endif %}
                </div>
                {% for port in owner_ports %}
                    <div class="profile_owner_port">
                        <!-- 사진 누르면 detail 넘어가도록 : <a href="{% url 'myApp:portfolio_detail' port.pk %}"> -->
                            <div>
                                <img class="portfolio_content" src="{{port.thumbnail.url}}" alt="prot_image" width="20%">
                            </div>
                            <div class="portfolio_like_user">
                                <div class="portfolio_content">{{port.like_user}}</div>
                            </div>
                            <div class="portfolio_view_count">
                                <div class="portfolio_content">{{port.view_count}}</div>
                            </div>
                            <div class="portfolio_like_user">
                                <div class="portfolio_content">{{port.save}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content%}