<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼 수정하기</title>
<style>
    table {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        font-family: "Noto Serif", serif;
    }
    
    label{
        font-size:1.3rem;
    }

    .title input,
    .desc textarea,
    .location textarea,
    .pay input,
    .start_date input,
    .end_date input {
    border:0; 
    padding:1px; 
    font-size:1.1em; 
    border:solid 1px #ccc; 
    margin-top:4px; 
    width:80%;
    border-radius: 3px;
    }
</style>
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="저장하기">
    </form>
    
</body>

</html>