{% extends 'myApp/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/portfolio_detail.css' %}">
<script src="https://kit.fontawesome.com/9ada8679dc.js" crossorigin="anonymous"></script>
<style>
    /*show profile btn*/

    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: black;
    }

    .btn {
        width: 150px;
        height: 50px;
        border: 1px solid #333;
        font-family: "Cinzel", serif;
        font-size: 15px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
    }

    .btn::before,
    .btn::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
    }

    .btn::before {
        height: 50px;
        width: 130px;
    }

    .btn::after {
        width: 150px;
        height: 30px;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn:hover::before {
        width: 0px;
        background: #fff;
    }

    .btn:hover::after {
        height: 0px;
        background: #fff;
    }

    .btn:hover {
        background: #fff;
    }

    .choose a,
    .profile_button a {
        color: black;
    }

    .choose {
        display: flex;
        justify-content: center;
        margin: 40px auto;
        margin-top: 60px;
    }


    /*********************** carousel **************************/

    /*container&grid*/


    .container_4 {
        display: grid;
        justify-content: center;
        margin: 10px auto;
        padding: 10px;
        max-width: 80%;
    }

    .container_4>div {
        padding: 10px;
    }

    .container_4 .user {
        display: flex;
        align-items: center;
        border-bottom: rgb(180, 180, 180) 1px solid;
    }

    .container_4 .user div {
        margin-right: 10px;
    }

    .container_4 .user .user_img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-right: 10px;
    }

    .user_img .profile_image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .portfolio_title {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-size: 1.1rem;
        font-weight: bolder;
    }


    .portfolio_detail {
        display: grid;
        grid-template-columns: 1fr 0.3fr;
        justify-content: center;
        align-items: start;
    }

    .detail_left {
        display: grid;
        padding: 0 10px;

    }

    .detail_left>div {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
    }



    .slides {
        position: relative;
        display: flex;
        justify-content: center;
    }


    .mySlides {
        display: grid;
        justify-content: center;
    }

    .mySlides>div {
        margin-bottom: 10px;
    }

    .mySlides .img_container {
        width: 580px;
        height: 580px;
        margin: 0 auto;
    }

    .mySlides .img_container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    img {
        margin: 0 auto;

    }

    .portfolio_content {
        line-height: 1.8em;
    }

    .portfolio_tags {
        line-height: 1.75em;
    }

    .portfolio_date {
        display: flex;
        justify-content: flex-end;
        border-bottom: rgb(180, 180, 180) 1px solid;
    }

    .portfolio_info {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 1.3rem;
    }

    .portfolio_info i:hover {
        cursor: pointer;
        color: #333;
    }

    .detail_right {
        margin-left: 15px;
        padding: 0 5px;
    }

    .detail_right .img_container {
        display: grid;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .detail_right .img_container img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .detail_right .img_container img:hover {
        box-shadow: 0 0 10px #000000;
        cursor: pointer;
    }



    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -50px;
        padding: 5px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .prev {
        left: 0;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        color: #333
    }

    /* Number text (1/3 etc) */
    .numbertext {
        position: absolute;
        top: 0;
        right: 0;
        color: #707070;
        font-size: 12px;
    }



    .portfolio_button {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        padding: 2px;
        border-bottom: none;
    }

    .portfolio_button .edit_btn {
        border: 1px solid black;
        padding: 5px;
        margin-right: 10px;
    }

    .portfolio_button .delete_btn {
        border: 1px solid black;
        padding: 5px;

    }
</style>
{% endblock stylesheet %}

{% block content %}

<div class="choose">
    <a class="choose_profile" href="{% url 'myApp:profile_detail' portfolio_owner.pk %}"><div class="btn"><span class="noselect">Show Profile</span></div></a>
</div>

<div class="container_4">
    <div class="user">
        <div class="user_img">
            {% if portfolio_owner.image  %}
            <img class="profile_image" src="{{portfolio_owner.image.url}}" alt="profile_image">
            {% else %}
            <img class="profile_image"
                src="https://cdn.iconscout.com/icon/free/png-512/account-profile-avatar-man-circle-round-user-30452.png"
                alt="profile_image">
            {% endif %}
        </div>
        <div class="portfolio_owner">User: {{portfolio_owner.username}}</div>
        <div class="portfolio_owner">Category: {{portfolio_owner.category}}</div>
    </div>
    <div class="portfolio_title">{{portfolio.title}}</div>
    <div class="portfolio_detail">
        <div class="detail_left">
            <div class="slides">
                <div class="mySlides fade">
                    <div class="numbertext">1 / {{num_of_imgs|add:"1"}}</div>
                    <div class="img_container"><img src="{{portfolio.thumbnail.url}}"></div>
                </div>
                {% for image in images %}
                {% if image %}
                <div class="mySlides fade">
                    <div class="numbertext"> {{forloop.counter|add:"1"}} / {{num_of_imgs|add:"1"}}</div>
                    <div class="img_container"><img src="{{image.image.url}}"></div>
                </div>
                {% endif %}
                {% endfor %}
                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="portfolio_content">{{portfolio.desc}}</div>
            <div class="portfolio_tags">
                {% for tag in tags %}
                <a href="" class="portfolio_tag tag-button">
                    #{{ tag.tag }}
                </a>
                {% endfor %}
            </div>
            <div class="portfolio_date">
                <div class="portfolio_content">{{portfolio.created_at}}</div>
                <!-- <div class="portfolio_content"> {{portfolio.updated_at}}</div> -->
            </div>
            <div class="portfolio_info">
                <div class="like like-{{portfolio.id}}">
                    {% if request_user in portfolio.like_users.all %}
                    <i class="fas fa-heart" type="submit" onclick="onClickLike({{ portfolio.id }})" name="type"
                        value="like"></i>
                    {% else %}
                    <i class="far fa-heart" type="submit" onclick="onClickLike({{ portfolio.id }})" name="type"
                        value="like"></i>
                    {% endif %}
                    <span class="like__content">{{ portfolio.like_users.count }}</span>
                </div>
                <div class="portfolio_info">
                    <div class="like like-{{portfolio.id}}">
                        {% if request_user in portfolio.like_users.all %}
                        <i class="fas fa-heart" type="submit" onclick="onClickLike({{ portfolio.id }})" name="type"
                            value="like"></i>
                        {% else %}
                        <i class="far fa-heart" type="submit" onclick="onClickLike({{ portfolio.id }})" name="type"
                            value="like"></i>
                        {% endif %}
                        <span class="like__content">{{ portfolio.like_users.count }}</span>
                    </div>
                    <div >
                        <i class="far fa-eye"></i>
                        <span class="view__content">{{portfolio.view_count}}</span>
                    </div>

                    <div class="save save-{{portfolio.id}}">
                        {% if request_user in portfolio.save_users.all %}
                        <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ portfolio.id }})" name="type"
                            value="save"></i>
                        {% else %}
                        <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ portfolio.id }})" name="type"
                            value="save"></i>
                        {% endif %}
                        <span class="save__content">{{ portfolio.save_users.count }}</span>
                    </div>
                </div>
            </div>
            <!-- 작성자만 수정 혹은 삭제 가능 -->
            {% if request_user.username == portfolio_owner.username %}
            <div class="portfolio_button">
                <a class="edit_btn" href="{% url 'myApp:portfolio_update' portfolio.pk %}">게시물 수정</a>
                <a class="delete_btn" href="{% url 'myApp:portfolio_delete' portfolio.pk %}">삭제</a>
            </div>
            {% endif %}
        </div>

        <div class="detail_right">
            <div class="img_container">
                <!-- Thumbnail image controls -->
                <img class="demo" src="{{portfolio.thumbnail.url}}" onclick="currentSlide(1)" alt="img">
                {% for image in images %}
                {% if image %}
                <img class="demo" src="{{image.image.url}}" onclick="currentSlide({{forloop.counter}}+1)" alt="img">
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>


</div>




{% endblock content %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script type='text/javascript'>
    // save
    const onClickSave = async (portfolio_id) => {
        try {
            // const url = '/portfolio/';
            // const {
            //     data
            // } = await axios.post(url, {
            //     portfolio_id,
            // })
            // modify(data.portfolio_id, data.is_saved)

            const options = {
                url: '/portfolio/save/',
                method: 'POST',
                data: {
                    portfolio_id: portfolio_id,
                }
            }
            const response = await axios(options)
            const responseOK = response && response.status === 200 && response.statusText === 'OK'
            if (responseOK) {
                const data = response.data
                //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                modifySave(data.portfolio_id, data.is_saved)
            }
        } catch (error) {
            console.log(error)
        }
    }

    const modifySave = (portfolio_id, is_saved) => {
        const save = document.querySelector(`.save-${portfolio_id} i`);
        const save_content = document.querySelector(`.save-${portfolio_id} .save__content`)
        const num = save_content.innerText; // [ {{ portfolio.save_users.count }} ]
        console.log(num)
        if (is_saved === true) {

            save.className = "fas fa-bookmark";

            const count = Number(num) + 1;
            save_content.innerHTML = count
        } else {
            save.className = "far fa-bookmark";

            const count = Number(num) - 1;
            save_content.innerHTML = count
        }

    }

    // like
    const onClickLike = async (portfolio_id) => {
        try {
            // const url = '/portfolio/';
            // const {
            //     data
            // } = await axios.post(url, {
            //     portfolio_id,
            // })
            // modify(data.portfolio_id, data.is_liked)

            const options = {
                url: '/portfolio/like/',
                method: 'POST',
                data: {
                    portfolio_id: portfolio_id,
                }
            }
            const response = await axios(options)
            const responseOK = response && response.status === 200 && response.statusText === 'OK'
            if (responseOK) {
                const data = response.data
                modifyLike(data.portfolio_id, data.is_liked)
            }
        } catch (error) {
            console.log(error)
        }
    }

    const modifyLike = (portfolio_id, is_liked) => {
        const like = document.querySelector(`.like-${portfolio_id} i`);
        const like_content = document.querySelector(`.like-${portfolio_id} .like__content`)
        const num = like_content.innerText; // [ {{ portfolio.like_users.count }} ]
        console.log(num)
        if (is_liked === true) {

            like.className = "fas fa-heart";

            const count = Number(num) + 1;
            like_content.innerHTML = count
        } else {
            like.className = "far fa-heart";

            const count = Number(num) - 1;
            like_content.innerHTML = count
        }

    }

    /*********************** carousel **************************/


    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
{% endblock script %}