{% extends 'myApp/layout.html' %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/with_brand/with_brand.css' %}">
<style>
    /* modal */
    #my_modal {
        display: none;
        width: 80%;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #map {
        height: 400px;
        overflow: scroll;
    }
</style>
{% endblock stylesheet %}


{% block content %}


<div class="with_brand_list">

    <div>
        <a href="{% url 'myApp:with_brand_list' %}">with brand</a>
        <a href="{% url 'myApp:with_artist_list' %}">with artist</a>
    </div>
    <!--category-->
    <div class="with_brand_list_left">
        <ul class="category">
            <li><a href="javascript:void(0)" onclick="onClickLink('all')">All</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('photographer')">Photographer</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('model')">Model</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('HairMakeup')">Hair/Makeup</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('stylist')">Stylist</a></li>
            <li><a href="javascript:void(0)" onclick="onClickLink('otheruse')">Other Use</a></li>
        </ul>
    </div>

    <div class="with_brand_list_right">
        <div class="bar">

            <!--search-->
            <div class="input-group">
                <input type="text" class="form-control search" value="{{ search|default_if_none:"" }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn_search" type="button" id="">찾기</button>
                </div>
            </div>

            <!--sort-->
            <div class="sort">
                <select name="" id="" class="form-control sort ">
                    <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                        최신순
                    </option>
                    <option value="save" {% if sort == 'save' %}selected{% endif %}>
                        저장순
                    </option>
                    <option value="pay" {% if sort == 'pay' %}selected{% endif %}>
                        가격순
                    </option>
                </select>
            </div>

            <div>
                <input type="checkbox" class="no_pay" name="no_pay" value="no_pay">
                <label for="no_pay">상호 무페이</label><br>
            </div>


            <!--with_brand_create-->
            <div class="with_brand_create">
                {% if request_user.is_authenticated %}
                <a class="update_btn" href="{% url 'myApp:with_brand_create' %}"><i class="far fa-plus-square"></i></a>
                {% endif %}
            </div>


            <!-- 모달...어렵네... 지도가 어려운건가 -->
            <!-- <div class="with_brand_map"> 
                <div id="my_modal">
                    <div id="map"></div>
                    <br />
                    <a class="modal_close_btn">닫기</a>
                </div>

                <button id="popup_open_btn">위치 확인하기</button>
            </div> -->
            <button id="popup_open_btn">
                <a href="{% url 'myApp:with_brand_map' %}">위치 확인하기</a>
            </button>
        </div>



        <!--with_brand_list-->
        <div class="content">
            <div class="infinite-container">
                {% for with_brand in with_brands %}

                <div class="infinite-item">
                    <div class="item_top with_brand-{{with_brand.pk}}">
                        <div>
                            User : {{ with_brand.user }}



                        </div>
                        <a href="{% url 'myApp:with_brand_detail' with_brand.pk %}">
                            <div style="font-weight:bolder;">{{ with_brand.title }}</div>
                        </a>
                        <div>
                            <!--user_img and category-->


                            {% if with_brand.user.image %}
                            <img src="{{ with_brand.user.image.url }}" alt="">
                            {% endif %}
                            {{ with_brand.user.category }}
                        </div>
                        <div class="thumbnail_desc">
                            <img src="{{ with_brand.thumbnail.url }}" alt="">
                        </div>
                        <div class="pay_date">
                            {% if with_brand.pay == 0 %}
                            Pay : 상호 무페이
                            {% else %}
                            Pay : {{ with_brand.pay }}원
                            {% endif %}
                            <!-- 촬영날짜나 isclosed check되었으면 마감알림 -->
                        </div>
                    </div>

                    <div class="item_bottom">
                        <div class="comment">
                            <i class="far fa-comment-dots"></i>
                            <span class="comment__content">{{ with_brand.with_brand_comments.count }}</span>
                        </div>

                        <div class="save save-{{with_brand.id}}">
                            {% if request_user in with_brand.save_users.all %}
                            <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ with_brand.id }})"
                                name="type" value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ with_brand.id }})"
                                name="type" value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ with_brand.save_users.count }}</span>
                        </div>

                    </div>


                    <!--
                    <div class="caption">
                        <div class="caption-content">
                            <p>더 알아보기<i style="font-size: 1em;" class="fas fa-search"></i> </p>
                        </div>
                    </div>
                    -->
                </div>

                {% endfor %}
            </div>


            <!-- 무한로딩 보류 -->
            {% if with_brands.has_next %}
            <a class="infinite-more-link" href="?page={{ with_brands.next_page_number }}">
                <div class="loading" style="display: none;">Loading...</div>
            </a>
            {% endif %}

            <!--filter form-->
            <div style="height: 0;">
                <form id="searchForm" method="get" action="{% url 'myApp:with_brand_list' %}">
                    <!--category-->
                    <input type="hidden" id="category" name="category" value="{{ category }}">
                    <!--sort-->
                    <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
                    <!--search-->
                    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                    <!--상호무페이-->
                    <input type="hidden" id="no_pay" name="no_pay" value="{{no_pay}}">
                </form>
            </div>
        </div>







    </div>

    <div>
        {% endblock content %}



        <!--js-->
        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
        <script src="{% static 'js/with_brand.js' %}" defer></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>
        <script src="{% static 'js/with_brand/with_brand_list_map.js' %}"></script>


        <script>
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                }
            });

            //Save
            const onClickSave = async (with_brand_id) => {
                try {
                    // const url = '/with_brand/';
                    // const {
                    //     data
                    // } = await axios.post(url, {
                    //     with_brand_id,
                    // })
                    // modify(data.with_brand_id, data.is_saved)

                    const options = {
                        url: '/with_brand/save/',
                        method: 'POST',
                        data: {
                            with_brand_id: with_brand_id,
                        }
                    }
                    const response = await axios(options)
                    const responseOK = response && response.status === 200 && response.statusText === 'OK'
                    if (responseOK) {
                        const data = response.data
                        //modify에서는 이미 뒤집힌 is_saved 값이 들어감!
                        modify(data.with_brand_id, data.is_saved)
                    }
                } catch (error) {
                    console.log(error)
                }
            }

            const modify = (with_brand_id, is_saved) => {
                const save = document.querySelector(`.save-${with_brand_id} i`);
                const save_content = document.querySelector(`.save-${with_brand_id} .save__content`)
                const num = save_content.innerText; // [ {{ with_brand.save_users.count }} ]
                console.log(num)
                if (is_saved === true) {

                    save.className = "fas fa-bookmark";

                    const count = Number(num) + 1;
                    save_content.innerHTML = count
                } else {
                    save.className = "far fa-bookmark";

                    const count = Number(num) - 1;
                    save_content.innerHTML = count
                }

            }
            //category
            const onClickLink = (category) => {
                const categoryIdInput = document.querySelector('#category')
                categoryIdInput.value = category
                const searchForm = document.querySelector('#searchForm')




                searchForm.submit()
            }

            //search
            const searchButton = document.querySelector('.btn_search')
            searchButton.addEventListener('click', () => {
                const searchClassInput = document.querySelector('.search')
                const searchIdInput = document.querySelector('#search')
                const searchForm = document.querySelector('#searchForm')
                searchIdInput.value = searchClassInput.value

                searchForm.submit()
            })


            //sort
            const sortClassInput = document.querySelector('.sort')
            sortClassInput.addEventListener('input', (e) => {
                const sortIdInput = document.querySelector('#sort')
                const searchForm = document.querySelector('#searchForm')
                sortIdInput.value = e.target.value

                searchForm.submit()
            })

            $(function () {
                var test = localStorage.input === 'true' ? true : false;
                $('.no_pay').prop('checked', test || false);
            });
            $('.no_pay').on('click', function () {
                localStorage.input = $(this).is(':checked');
            });

            const nopayClassInput = document.querySelector('.no_pay')
            const nopayIdInput = document.querySelector('#no_pay')
            // const searchForm = document.querySelector('#searchForm')
            if (localStorage.input === 'true') {
                nopayIdInput.value = true
            } else {
                nopayIdInput.value = false
            }

            nopayClassInput.addEventListener('click', () => {
                const nopayIdInput = document.querySelector('#no_pay')
                const searchForm = document.querySelector('#searchForm')
                if (localStorage.input === 'true') {
                    nopayIdInput.value = true
                } else {
                    nopayIdInput.value = false
                }
                searchForm.submit()
            })


            function modal(id) {
                var zIndex = 9999;
                var modal = document.getElementById(id);

                // 모달 div 뒤에 희끄무레한 레이어
                var bg = document.createElement('div');
                bg.setStyle({
                    position: 'fixed',
                    zIndex: zIndex,
                    left: '0px',
                    top: '0px',
                    width: '100%',
                    height: '100%',
                    overflow: 'auto',
                    // 레이어 색갈은 여기서 바꾸면 됨
                    backgroundColor: 'rgba(0,0,0,0.4)'
                });
                document.body.append(bg);

                // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
                modal.querySelector('.modal_close_btn').addEventListener('click', function () {
                    bg.remove();
                    modal.style.display = 'none';
                });

                modal.setStyle({
                    position: 'fixed',
                    display: 'block',
                    boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

                    // 시꺼먼 레이어 보다 한칸 위에 보이기
                    zIndex: zIndex + 1,

                    // div center 정렬
                    top: '50%',
                    left: '50%',
                    transform: 'translate(-50%, -50%)',
                    msTransform: 'translate(-50%, -50%)',
                    webkitTransform: 'translate(-50%, -50%)'
                });
            }

            // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
            Element.prototype.setStyle = function (styles) {
                for (var k in styles) this.style[k] = styles[k];
                return this;
            };

            document.getElementById('popup_open_btn').addEventListener('click', function () {
                // 모달창 띄우기
                modal('my_modal');
            });
        </script>

        {% endblock script %}